{erl_opts, [debug_info]}.
{deps, []}.
{eunit_tests, [{dir, "test"}]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{cover_enabled, true}.
{cover_print_enable, true}.

{deps, [
    {trie, ".*", {git, "https://github.com/okeuday/trie.git", {tag, "v1.7.0"}}}
]}.
